:root{
    --primary-color:#6C63FF;
    --heading-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Playfair Display", serif;
    --secondary-color: #F9F7FE;
}
h1 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 127.97px;
}
.hero {
  font-family: var(--heading-font-family);
  font-weight: normal;
  background: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding-top: 329px; 
  padding-bottom:443px;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #272142;
}
p {
  font-weight: 700;
  font-size: 54px;
  line-height: 36px;
  color: #272142;
}
.button{
    background: var(--primary-color);
    padding: 18px 30px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
}
.button:hover{
    background: #6058fa;
    padding: 18px 30px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
}