:root {
  --primary-color: #647eb4;
  --heading-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --secondary-color:  #dfe6f4;
}
h1 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 127.97px;
   color: var(--primary-color);
}

.hero {
  font-family: var(--heading-font-family);
  font-weight: normal;
  background: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding-top: 271px;
  padding-bottom: 375px;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--primary-color);
}
.color{
   color: var(--primary-color);
}

.content-container{
 padding-top: 2.850rem;
  
}
.content-container h1{
  font-size: 64px;
  margin-top: 178px;
  color: var(--primary-color);
}
.content-container h2{
  font-size:18px;
  font-weight: bold;
   color: #425e95;
}
.content-container p{
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
}
.content-container .button{
  margin-top: 1.5rem;
}
.hero p {
  font-weight: 700;
  font-size: 54px;
  line-height: 36px;
  color: var(--primary-color);
}
.button {
  background: var(--primary-color);
  padding: 18px 30px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;

}
.button:hover {
  background:   #5b77b6;;
  padding: 18px 30px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
}
img {
  width: 560px;
  margin-top: 2.125rem;
}
h3 {
  font-size: 64px;
  font-weight: bold;
  line-height: 85.31px;
   color: var(--primary-color);
}
.text {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--heading-font-family);
  width: 82%;
  margin-top: 2.4375rem;
}

.button-project {
  color: var(--primary-color);
  border: solid var(--primary-color);
  padding: 18px 25px;
  margin-top: 2.75rem;
}
.button-project:hover {
  color: var(--primary-color);
  border: solid var(--primary-color);
  padding: 18px 25px;
}
.project {
  margin-top: 8.0625rem;
}
.project-weather-app {
  margin-top: 4rem;
}
.box-h3{
  font-size: 48px;
  padding-left: 119px;
  padding-top: 28px;
  padding-bottom: 13px;
  margin-bottom: 0;
}

.margin-p{
  margin-left: 119px;
 margin-bottom: 42px;
 font-size: 18px;
  color: var(--primary-color);
 
}
.margin-t{
 margin-top: 71px;
 margin-left: 9.7rem;
}
.box{
  background: var(--secondary-color);
  width: 68rem;
    margin: 0 auto;
    margin-top: 12.75rem;
    margin-bottom: 92px;
  border-radius: 10px;
 
}

.box-homepage{
   background: var(--secondary-color);
    margin: 0 auto;
    margin-top: 12.75rem;
    margin-bottom: 92px;
  border-radius: 10px;
}
.mail-link{
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-family: var(--heading-font-family);
   color: var(--primary-color);
}
.network{
  width: 40px;
  margin-left: 33px;
}
.network-facebook{
  width:40px;
}
.contact-info{
  text-align: center;
  margin-bottom: 7.625rem;
}
.bg-color{
box-sizing: border-box;
background: #486295;

}
.light{
  color: #f9f7fe;
}
.light:hover{
  color: #eeebf6;
}
.portfolio-photo{
  width: 281px;
  height: 420px;
  margin-top: 8.25rem;
  border-radius: 4px;
  margin-left: 12rem;
}

.content h4{
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 16px;
}
.content p{
  font-size: 14px;
  font-family: var(--heading-font-family);
}
.radio-app{
  width:35rem;
  height: 35rem;
}
.weather-app{
   width: 44.188rem;
  height: 35rem;
}
.logo{
  width:150px;
  background: var(--secondary-color);
  padding: 15px;
  padding-right: 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10rem;
}
.light a{
  text-decoration: none;
  color: #f9f7fe;
  transition: all 150ms ease-in-out;
  font-size: 16px;
}
.light a:hover, nav li.active a{
  color:  #96ddf5;
}
nav ul{
  padding-top: 3rem;
}
nav li{
  display: inline;
  list-style: none;
  line-height: 24px;
margin-left: 4rem;
}
.nav-right{
  margin-right: 8.688rem;
}
footer .social-links a{
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
transition: all 150ms ease-in-out;}
  footer .social-links a:hover{
    color: var(--secondary-color);
    background: var(--primary-color);
  }
.social-links{
  margin-top: 40px;
}

@media (max-width: 960px) {
  .project, .project-weather-app {
    margin: 0;
    text-align: center;
  }
  .hero p {
    font-size: 33px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 38px;
  }
  .text {
    padding-top: 2.4375rem;
    margin: 0 auto;
  }
  .button {
    font-size: 14px;
    padding: 12px 18px;
  }
  .button:hover {
     font-size: 14px;
    padding: 12px 18px;
  }
   .button-display{
    margin-top: 31px;
    display: block;
  }
  .hero {
    padding-top: 138px;
    padding-bottom: 190px;
  }
 footer .box{ width:100vw;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .box-h3 {
    font-size: 28px;
    padding-left: 0;
    text-align: center;
  }
  .margin-p{
    margin-left: 0;
    text-align: center;
    margin-bottom: 32px;
    font-size: 15px;
  }
 
  .margin-t{
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 7rem;
    
  }
  .mail-link{
  font-size: 18px;
  margin-top: 32px;}
.logo{
  width: 55px;
   padding: 7px;
  padding-right: 12px;
  margin-left: 1rem;
  
}
nav li{
  margin-left: 0.5rem;
}
nav ul{
 padding-top: 1rem;
 padding-left: 0.5rem;
}
.nav-right{
  margin-right: 1rem;
}

.light a{
  font-size: 13px;
  line-height: 2px;
}
}
